.container {
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 500px;
  height: 500px;
  background-color: lightcyan;
  border: 1px solid lightblue;
}

input[type=button] {
  margin: 20px;
  min-width: 200px;
}

.box.padding {
  padding: 30px;
}

.widget {
  height: 90vh;
  width: 100%;
}